@import './theme.json';

$breakpoints: (
    "mobile": 426px,
	"tablet": 769px,
);

$global-radius: 6px;
$global-radius-small: 2px;

$global-spacing-large: 48px;
$global-spacing: 20px;
$global-spacing-medium: 12px;
$global-spacing-small: 6px;

$monospace-font: "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono";

@each $key, $color in $colors {
    $key: $color;
}

// Mixins
@import "./mixins/breakpoints";
@import "./mixins/contrast-checker";

// Functions
@import "./functions/colors";

// Helpers
@import "./helpers/text-align";

// Styles
@import "./base/reset";
@import "./base/takeaway";
@import "./base/transitions";

// Components
@import "./components/button";
