#app {
	color: $type;
}
body {
	margin: 0;
	max-width: 100vw;
	overflow-x: hidden;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
}
button{
	font-size: inherit;
	background: transparent;
	border: none;
	margin: 0;
	padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 2rem;
}
a{
	color: $cobalt
}
* {
	box-sizing: inherit;
}
