.takeaway {
	position: relative;
	cursor: pointer;
	&:hover {
		&:after {
			display: block;
		}
	}
	&:after {
		top: 0;
		right: 0;
		display: none;
		padding: 20px;
		position: absolute;
	}
	&--copy:after{
		content: "Copy";
	}
	&--download:after{
		content: "Download";
	}
}
